<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input type="text" placeholder="MY QR Code data" [(ngModel)]="qrData"></ion-input>
  </ion-item>

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="elementType">
    <ion-segment-button value="canvas">
      <ion-label>Canvas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="img">
      <ion-label>Image</ion-label>
    </ion-segment-button>
    <ion-segment-button value="url">
      <ion-label>Url</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="qrData">
  </ngx-qrcode>
</ion-content>